/* caption */
a {
    color: #232323;
}
article {
    position: relative;
    /* border: 1px solid yellow; */
    top: 100px;
    height: 80px;
}
article div p {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}
article .bread {
    /* float: left; */
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
}
article .bread p:nth-child(3) {
    color: #666;
}
article .pre_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}


/* contents left - img */
main {
    position: relative;
    /* border: 1px solid blue; */
    top: 100px;
    width: 900px;
    height: 740px;
}
main #img {
    float: left;
    position: absolute;
}
main #img .main {
    background: url(img/interior_img09.jpg) no-repeat center;
    background-size: cover;
    width: 500px;
    height: 350px;
    border: 1px solid #ddd;
    top: 0px;
    left: 20px;
    margin: 20px 20px 10px 20px;
}
main #img .thumb {
    display: inline-block;
    background: url(img/interior_img09.jpg) no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
main #img .th01 {
    margin: 0 0 0 20px;
    border: 1px solid #666;
}
main #img .th02 {
    margin-left: 5px;
    border: 1px solid #ddd;
}
main #img p {
    margin: 20px 0 0 20px;
    font-size: 14px;
}


/* contents right - info */
main #txt {
    width: 320px;
    /* border: 1px solid purple; */
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
}
main #txt h3 {
    /* margin: 0 0 5px; */
}
main #txt .item_number {
    margin: 5px 0 18px;
    font-size: 11px;
}
main #txt .cost {
    margin: 0 0 15px;
}
main #txt form {
    font-size: 14px;
}
main #txt input {
    margin: 8px 0 30px;
    padding: 10px;
}
main #txt button {
    width: 320px;
    padding: 10px;
    border-radius: 0;
    border: none;
    color: #fff;
    background: #454545;
    cursor: pointer;
}
main #txt button:hover {
    background: #232323;
}


/* 제품정보, 환불정책 내용 */
main #txt #detail {
    margin: 40px 0 0;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}
main #txt #detail span {
    position: absolute;
    right: 0;
}
main #txt #detail h4 {
    margin: 0 0 20px;
}
main #txt #detail h4:hover {
    opacity: 80%;
}
main #txt hr {
    margin: 20px 0;
} 

/* sns button */
main #txt .sns img {
    width: 20px;
    margin: 40px 12px 0 0;
    cursor: pointer;
}